*, *::before, *::after {
    box-sizing: border-box;
}

/* latin-ext */
@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/audiowide/v16/l7gdbjpo0cum0ckerWCdmA_OMRlABolM.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }
  /* latin */
@font-face {
    font-family: 'Audiowide';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/audiowide/v16/l7gdbjpo0cum0ckerWCdlg_OMRlABg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

body {
    background: #8dc3ff;
    font-family: 'Audiowide';
}

b{
    background-color: green;
    padding-left: 5px;
    padding-right: 5px;
    color: white;
    border-radius: 5px;
}
.container{
    width: 80%;
    margin: 0 auto;
}
header{
    background-color: #59b1ff;
    border-radius: 10px;
}
header::before{
    content:' ';
    height: 5px;
    display: table;
    clear: both;
}
header::after{
    content:' ';
    height: 5px;
    display: table;
    clear: both;
}
nav{
    float: right;
}
nav ul{
    list-style: none;
}
nav li{
    display: inline-block;
    margin-right: 80px;
}
.navlogo{
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    float:left;
    border-radius: 50px;
}

.btn{
    outline: none;
    color: white;
    text-align: center;
    padding: 5px 10px;
    width: 300px;
    height: 60px;
    font-size:20px;
    margin: 4px 2px;
    background-color: var(--bgcol);
    font-family: 'Audiowide';
    border-radius: 10px;
    --bgcol:#0032a8;
    transition: ease-out 0.3s;
}
.btn:hover{
    height: 70px;
    font-size: 25px;
    background-color: green;
}

.btn2{
    outline: none;
    color: white;
    text-align: center;
    padding: 5px 10px;
    width: 100px;
    height: 60px;
    font-size:15px;
    margin: 4px 2px;
    background-color: var(--bgcol);
    font-family: 'Audiowide';
    border-radius: 10px;
    --bgcol:#0442c7;
    transition: ease-out 0.3s;
}
.btn2:hover{
    width: 100px;
    height: 60px;
    font-size: 15px;
    background-color: green;
}



.btn3{
    outline: none;
    color: white;
    padding-left: 5px;
    width: 300px;
    height: 60px;
    font-size:20px;
    background-color: var(--bgcol);
    font-family: 'Audiowide';
    border-radius: 10px;
    --bgcol:#0032a8;
    transition: ease-out 0.3s;
}
.btn3:hover{
    width: 400px;
    font-size: 20px;
    background-color: green;
}
contact ul{
    list-style: none;
}
.round_corner{
    border-radius: 10%;
}


/*main html*/
.logo{
    position:relative;
    border-radius: 10px;
}
.logo_about{
    position:relative;
    border-radius: 10px;
    margin-left: 20px;
}
.logo_tutors{
    position:relative;
    border-radius: 10px;
    margin-left: 20px;
}
.logo_pricing{
    position:relative;
    border-radius: 10px;
    margin-left: 20px;
}
.logo_contact{
    position:relative;
    border-radius: 10px;
    margin-left: 20px;
}
.btn_about{
    position: relative;
    margin-left: 20px;
}
.btn_tutors{
    position: relative;
    margin-left: 18px;
}
.btn_pricing{
    position: relative;
    margin-left: 18px;
}
.btn_contact{
    position: relative;
    margin-left: 18px;
}
/*contact details*/
/*tutors*/
tutor{
    position:relative;
    left: 30px;
}
tutor ul{
    position: relative;
    left: 30px;
}

price ul{
    list-style: none;
}